<%= form_for(@micropost, :html => { :multipart => true }) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
  <%= f.fields_for @micropost.track do |track_form| %>
	<div class="file_field" id="track_chooser">
		<%= track_form.file_field :recording %>
	</div>
  <% end %>
  <%= f.fields_for @micropost.picture do |picture_form| %>
	<div class="file_field" id="picture_chooser">
		<%= picture_form.file_field :image %>
	</div>
  <% end %>  
<% end %>