<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Geronimo!</title>
	<%= stylesheet_link_tag 'geronimo', :media => 'screen' %>	
</head>
<body class="home_page">
<span class="BandImages">
	<% if @next_show %>
		<div class="NextShow">Next Show: <%= @next_show.showtext %></div>
		<div class="AllShows"><%= link_to 'all shows', all_shows_path%></div>
	<% end %>
	<span class="CenterImages">
		<span class="TriptychContainer">
			<span style="background: url('<%= image_path('Kelly.png')%>') no-repeat scroll center center transparent; width: 200px; height: 300px;" class="rounded-img2">
				<%= image_tag("Kelly.png", :alt => "Guitarist", :class => "Triptych rounded-img2") %>
			</span>
		</span>
		<span class="TriptychContainer">
			<span style="background: url('<%= image_path('Matt.png')%>') no-repeat scroll center center transparent; width: 200px; height: 300px;" class="rounded-img2">
				<%= image_tag("Matt.png", :alt => "Drummer", :class => "Triptych rounded-img2") %>
			</span>
		</span>
		<span class="TriptychContainer">
			<span style="background: url('<%= image_path('Ben.png')%>') no-repeat scroll center center transparent; width: 200px; height: 300px;" class="rounded-img2">
				<%= image_tag("Ben.png", :alt => "Keyboardist", :class => "Triptych rounded-img2") %>
			</span>
		</span>
	</span>
	<div class="BandSays">Geronimo says: <article><p><%= @latest_front_page_blogpost%></p><span><%= link_to 'more', blogs_path%></span></article></div>
</span>
<div class="leftside">
		<span class="ColumnOne">
		<div class="Down">
		<div>G</div>
		<div>e</div>
		<div>r</div>
		<div>o</div>
		<div>n</div>
		<div>i</div>
		<div>m</div>
		<div>o</div>
		<div>!</div>
		</div>
		<div id="AcrossNow">
			<span id="G">G</span>
			<span id="E">e</span>
			<span id="R">r</span>
			<span id="O">o</span>
			<span id="N">n</span>
			<span id="I">i</span>
			<span id="M">m</span>
			<span id="O2">o</span>
			<span id="BANG">!</span>
		</div>
		</span>
		<span class="ColumnTwo">
		<div id="DownAgain">
		<div>G</div>
		<div>e</div>
		<div>r</div>
		<div>o</div>
		<div>n</div>
		<div>i</div>
		<div>m</div>
		<div>o</div>
		<div>!</div>
		</div>
		<div id="AcrossAgain">
		<span id="G-AA">G</span>
		<span id="E-AA">e</span>
		<span id="R-AA">r</span>
		<span id="O-AA">o</span>
		<span id="N-AA">n</span>
		<span id="I-AA">i</span>
		<span id="M-AA">m</span>
		<span id="O2-AA">o</span>
		<span id="BANG-AA">!</span>
		</div>
	</span>
</div>

<div class="rightside">
	<span class="ColumnThree">
		<div class="Down DownRight">
		<div>G</div>
		<div>e</div>
		<div>r</div>
		<div>o</div>
		<div>n</div>
		<div>i</div>
		<div>m</div>
		<div>o</div>
		<div>!</div>
		</div>
		<div id="AcrossNow">
			<span id="BANG">!</span>			
			<span id="O2">o</span>
			<span id="M">m</span>
			<span id="I">i</span>
			<span id="N">n</span>
			<span id="O">o</span>
			<span id="R">r</span>
			<span id="E">e</span>			
			<span id="G">G</span>
		</div>		
	</span>
	<span class="ColumnFour">
		<div id="DownAgain" class="DownRight DownAgainRight">
		<div>G</div>
		<div>e</div>
		<div>r</div>
		<div>o</div>
		<div>n</div>
		<div>i</div>
		<div>m</div>
		<div>o</div>
		<div>!</div>
		</div>
		<div id="AcrossAgain" class="AcrossAgainRight">
		<span id="BANG-AA">!</span>
		<span id="O2-AA">o</span>
		<span id="M-AA">m</span>
		<span id="I-AA">i</span>		
		<span id="N-AA">n</span>		
		<span id="O-AA">o</span>
		<span id="R-AA">r</span>
		<span id="E-AA">e</span>						
		<span id="G-AA">G</span>
		</div>
	</span>	
</div>
</body>
</html>