<!DOCTYPE html>
<html>
  <head>
    <title>Your Band! <%= @page_name %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/g_stylesheets' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'jquery-audivid' %>	
  </head>
  <body>
    <div class="container">
	  <div class="PageName"><%= @page_name%></div>
      <%= render 'layouts/g_header' %>
      <section class="round">
        <%= yield %>
      </section>
      <%= render 'layouts/g_footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>