<!DOCTYPE html>
<html>
<head>
  <title>Predators</title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery.jplayer.min' %>
  <%= stylesheet_link_tag 'skin/jplayer.blue.monday', :media => 'screen' %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Nova+Square&v2' rel='stylesheet' type='text/css'> 
</head>
<body>

<%= yield %>

</body>
</html>
