<!DOCTYPE html>
<html>
<head>
  <title>Predators</title>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'jquery.jplayer.min' %>
  <%= stylesheet_link_tag 'skin/jplayer.blue.monday', :media => 'screen' %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Nova+Square&v2' rel='stylesheet' type='text/css'> 
  <link id="agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRihnwsM" rel="stylesheet" type="text/css" href="http://www.webputty.net/css/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRihnwsM" />
  <script type="text/javascript" src="http://www.webputty.net/js/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRihnwsM"></script>
  <link href='http://fonts.googleapis.com/css?family=Wallpoet&v2' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nova+Square&v2' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
